<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<th:block layout:fragment="content">
    <div class="wrapper">
        <div class="container">
            <div class="spacer">
                <div th:replace="fragments/welcomemessage :: welcomeMessage">
                </div>
            </div>
            <div class="single-space"></div>
            <form  class="row" th:object="${quoteData}" th:action="@{|/quote/${action}|}" method="post">
                <div class="col-lg-12">
                    <div class = "row">
                        <div class="col-lg-12 title-gap">
                            <h3> Basic Information </h3>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="owner" class="col-lg-2 col-form-label">Quote Owner: </label>
                        <div class="col-lg-6">
                            <select class="form-control" name="source" th:field="*{quote.owner}">
                                <option th:each="user : ${userData}"
                                        th:value="${user.getAccountId()}"
                                        th:text="${user.getName()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="account" class="col-lg-2 col-form-label">Account: </label>
                        <div class="col-lg-6">
                            <select class="form-control" name="source">
                                <option th:each="account : ${accountData}"
                                        th:value="${account.getAccountId()}"
                                        th:text="${account.getAccountName()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <table>
                      <thead>
                        <tr>
                          <th >Row</th>
                          <th >Product</th>
                          <th >Quantity</th>
                          <th >Discount</th>
                          <th>
                            <button type="submit" name="addRow" >Add row</button>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="row,rowStat : *{productList}">
                          <td th:text="${rowStat.count}">0</td>
                          <td>
                            <select th:field="*{productList[__${rowStat.index}__].product}">
                              <option th:each="var : ${allProducts}"
                                      th:value="${var.productId}"
                                      th:text="${var.name}"></option>
                            </select>
                          </td>
                          <td>
                            <input type="text" th:field="*{productList[__${rowStat.index}__].quantity}" />
                          </td>
                          <td>
                            <input type="text" th:field="*{productList[__${rowStat.index}__].discount}" />
                          </td>
                          <td>
                            <button type="submit" name="removeRow"
                                    th:value="${rowStat.index}" >Remove row</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row">
                         <input type="hidden" name="quoteId" th:field="*{quote.quoteId}"></input>
                        <div class="col-lg-7"></div>
                        <button id="submit" type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
</html>
