<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
  <th:block layout:fragment="scripts">
    <script th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.12/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/js/sales/purchaseOrdersList.js}"></script>
  </th:block>
  <th:block layout:fragment="stylesheets">
    <link th:href="@{/webjars/datatables/1.10.12/css/jquery.dataTables.css}" rel="stylesheet"></link>
    <link th:href="@{/webjars/datatables/1.10.12/css/dataTables.bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/css/sale/purchaseorderlist.css}" rel="stylesheet"></link>
  </th:block>
  <th:block layout:fragment="content">
      <div class="container">
        <div class="spacer">
            <div class="row">
              <div class="col-lg-12 metaBar">
                  <div class="pull-left">
                    <a th:href="${toList}" th:text="${moduleName}" class="moduleName backLink"></a>
                  </div>
                  <div class="pull-right">
                    <p th:text="${welcomeMessage}" class= "text-right welcomeMessage"></p>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
          <div class ="row">
            <div class="col-sm-12">
              <a th:href="@{|/purchaseorder/#|}">
                <button class="btn-primary pull-right btn-list">
                      <span class="glyphicon glyphicon-plus"></span>
                </button>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table id ="purchaseOrderList" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                  <tr>
                    <th>ID</th>
                    <th>Account</th>
                    <th>Contact</th>
                    <th>Owner</th>
                  </tr>
              </thead>
              <tbody>
                <tr th:each="purchaseOrder : ${purchaseOrderData}">
                    <td>
                        <a th:text="${purchaseOrder.getPurchaseOrderId()}"
                           th:href="@{|/purchaseorder/records/${purchaseOrder.getPurchaseOrderId()}|}">
                        </a>
                    </td>
                  <td th:text="${purchaseOrder.getAccount() != null} ? ${purchaseOrder.getAccount().getAccountName()} : ''"></td>
                  <td th:text="${purchaseOrder.getContactId() != null} ? ${purchaseOrder.getContactId()} : ''"></td>
                  <td th:text="${purchaseOrder.getOwner() != null} ? ${purchaseOrder.getOwner().getName()} : ''"></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
</th:block>
</html>
