<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<th:block layout:fragment="content">
    <div class="wrapper">
        <div class="container">
            <div class="spacer">
                <div th:replace="fragments/welcomemessage :: welcomeMessage"></div>
                <div class="single-space"></div>
                <form th:object="${accountData}" th:action="@{|/account/${action}|}" method="post"
                      class="form-horizontal">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 title-gap">
                                <h3>Basic Information</h3>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="contacts">Contacts:</label>
                        <div class="col-sm-6">
                            <select multiple="multiple" class="form-control" id="contacts" th:field="*{contacts}">
                                <option th:each="contact:${contactData}"
                                        th:value="${contact.getContactId()}"
                                        th:text="${contact.getFullName()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="owner">Owner:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="owner" th:field="*{owner}">
                                <option th:each="owner:${userData}"
                                        th:value="${owner.getAccountId()}"
                                        th:text="${owner.getName()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="accountName">Account Name:</label>
                        <div class="col-sm-6" th:classappend="${#fields.hasErrors('accountName')}?'has-error':''">
                            <input type="text" class="form-control" id="accountName" placeholder="Enter account name"
                                   th:field="*{accountName}"></input>
                            <span th:if="${#fields.hasErrors('accountName')}" class="help-block"
                                  th:errors="*{accountName}">...</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="rating">Rating:</label>
                        <div class="col-sm-6" th:classappend="${#fields.hasErrors('rating')}?'has-error':''">
                            <input type="number" step="0.5" class="form-control" id="rating"
                                   placeholder="Enter rating" th:field="*{rating}"></input>
                            <span th:if="${#fields.hasErrors('rating')}" class="help-block"
                                  th:errors="*{rating}">...</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="type">Type:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="type" th:field="*{type}">
                                <option th:each="type:${accountType}"
                                        th:value="${type.getTypeId()}"
                                        th:text="${type.getDescriptor()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="parent">Parent:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="parent" th:field="*{parent}">
                                <option th:value="${null}" th:text="None"></option>
                                <option th:each="parent:${parentData}"
                                        th:value="${parent.getAccountId()}"
                                        th:text="${parent.getAccountName()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="tickerSymbol">Ticker Symbol:</label>
                        <div class="col-sm-6" th:classappend="${#fields.hasErrors('tickerSymbol')}?'has-error':''">
                            <input type="text" class="form-control" id="tickerSymbol" placeholder="Enter ticker symbol"
                                   th:field="*{tickerSymbol}"></input>
                            <span th:if="${#fields.hasErrors('tickerSymbol')}" class="help-block"
                                  th:errors="*{tickerSymbol}">...</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="numEmployees">Number of Employees:</label>
                        <div class="col-sm-6" th:classappend="${#fields.hasErrors('numberEmployees')}?'has-error':''">
                            <input type="text" class="form-control" id="numEmployees"
                                   value="1" th:field="*{numberEmployees}"></input>
                            <span th:if="${#fields.hasErrors('numberEmployees')}" class="help-block"
                                  th:errors="*{numberEmployees}">...</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="website">Website:</label>
                        <div class="col-sm-6" th:classappend="${#fields.hasErrors('website')}?'has-error':''">
                            <input type="text" class="form-control" id="website" placeholder="Enter website"
                                   th:field="*{website}"></input>
                            <span th:if="${#fields.hasErrors('website')}" class="help-block"
                                  th:errors="*{website}">...</span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 title-gap">
                                <h3>Phone Information</h3>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="phone">Primary Phone:</label>
                        <div class="col-sm-6" th:classappend="${#fields.hasErrors('phone')}?'has-error':''">
                            <input type="text" class="form-control" id="phone" placeholder="Enter primary phone number"
                                   th:field="*{phone}"></input>
                            <span th:if="${#fields.hasErrors('phone')}" class="help-block"
                                  th:errors="*{phone}">...</span>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="otherPhone">Secondary Phone:</label>
                        <div class="col-sm-6" th:classappend="${#fields.hasErrors('otherPhone')}?'has-error':''">
                            <input type="text" class="form-control" id="otherPhone"
                                   placeholder="Enter secondary phone number" th:field="*{otherPhone}"></input>
                            <span th:if="${#fields.hasErrors('otherPhone')}" class="help-block"
                                  th:errors="*{otherPhone}">...</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="fax">Fax:</label>
                        <div class="col-sm-6" th:classappend="${#fields.hasErrors('fax')}?'has-error':''">
                            <input type="text" class="form-control" id="fax" placeholder="Enter fax number"
                                   th:field="*{fax}"></input>
                            <span th:if="${#fields.hasErrors('fax')}" class="help-block" th:errors="*{fax}">...</span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 title-gap">
                                <h3>Email Information</h3>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="primaryEmail">Primary Email:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('primaryEmail.email')}?'has-error':''">
                            <input type="email" class="form-control" id="primaryEmail" placeholder="Enter primary email"
                                   th:field="*{primaryEmail.email}"></input>
                            <span th:if="${#fields.hasErrors('primaryEmail.email')}" class="help-block"
                                  th:errors="*{primaryEmail.email}">...</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="secondaryEmail">Secondary Email:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('secondaryEmail.email')}?'has-error':''">
                            <input type="email" class="form-control" id="secondaryEmail"
                                   placeholder="Enter secondary email"
                                   th:field="*{secondaryEmail.email}"></input>
                            <span th:if="${#fields.hasErrors('secondaryEmail.email')}" class="help-block"
                                  th:errors="*{secondaryEmail.email}">...</span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 title-gap">
                                <h3>Billing Address Information</h3>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="BaptNumber">Apartment Number:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('billingAddress.apartmentNumber')}?'has-error':''">
                            <input type="text" class="form-control" id="BaptNumber" placeholder="Enter apartment number"
                                   th:field="*{billingAddress.apartmentNumber}"></input>
                            <span th:if="${#fields.hasErrors('billingAddress.apartmentNumber')}" class="help-block"
                                  th:errors="*{billingAddress.apartmentNumber}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="BstAddress">Street Address:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('billingAddress.streetAddress')}?'has-error':''">
                            <input type="text" class="form-control" id="BstAddress" placeholder="Enter street address"
                                   th:field="*{billingAddress.streetAddress}"></input>
                            <span th:if="${#fields.hasErrors('billingAddress.streetAddress')}" class="help-block"
                                  th:errors="*{billingAddress.streetAddress}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Bcity">City:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('billingAddress.city')}?'has-error':''">
                            <input type="text" class="form-control" id="Bcity" placeholder="Enter city"
                                   th:field="*{billingAddress.city}"></input>
                            <span th:if="${#fields.hasErrors('billingAddress.city')}" class="help-block"
                                  th:errors="*{billingAddress.city}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="BstateProv">State/Province:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('billingAddress.stateProv')}?'has-error':''">
                            <input type="text" class="form-control" id="BstateProv" placeholder="Enter state/province"
                                   th:field="*{billingAddress.stateProv}"></input>
                            <span th:if="${#fields.hasErrors('billingAddress.stateProv')}" class="help-block"
                                  th:errors="*{billingAddress.stateProv}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Bcountry">Country:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('billingAddress.country')}?'has-error':''">
                            <input type="text" class="form-control" id="Bcountry" placeholder="Enter country"
                                   th:field="*{billingAddress.country}"></input>
                            <span th:if="${#fields.hasErrors('billingAddress.country')}" class="help-block"
                                  th:errors="*{billingAddress.country}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="BzipPostal">Zip/Postal Code:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('billingAddress.zipPostal')}?'has-error':''">
                            <input type="text" class="form-control" id="BzipPostal" placeholder="Enter zip/postal code"
                                   th:field="*{billingAddress.zipPostal}"></input>
                            <span th:if="${#fields.hasErrors('billingAddress.zipPostal')}" class="help-block"
                                  th:errors="*{billingAddress.zipPostal}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="BpoBox">PO Box:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('billingAddress.poBox')}?'has-error':''">
                            <input type="text" class="form-control" id="BpoBox" placeholder="Enter PO box number"
                                   th:field="*{billingAddress.poBox}"></input>
                            <span th:if="${#fields.hasErrors('billingAddress.poBox')}" class="help-block"
                                  th:errors="*{billingAddress.poBox}">...</span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 title-gap">
                                <h3>Shipping Address Information</h3>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="SaptNumber">Apartment Number:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('shippingAddress.apartmentNumber')}?'has-error':''">
                            <input type="text" class="form-control" id="SaptNumber" placeholder="Enter apartment number"
                                   th:field="*{shippingAddress.apartmentNumber}"></input>
                            <span th:if="${#fields.hasErrors('shippingAddress.apartmentNumber')}" class="help-block"
                                  th:errors="*{shippingAddress.apartmentNumber}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="SstAddress">Street Address:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('shippingAddress.streetAddress')}?'has-error':''">
                            <input type="text" class="form-control" id="SstAddress" placeholder="Enter street address"
                                   th:field="*{shippingAddress.streetAddress}"></input>
                            <span th:if="${#fields.hasErrors('shippingAddress.streetAddress')}" class="help-block"
                                  th:errors="*{shippingAddress.streetAddress}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Scity">City:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('shippingAddress.city')}?'has-error':''">
                            <input type="text" class="form-control" id="Scity" placeholder="Enter city"
                                   th:field="*{shippingAddress.city}"></input>
                            <span th:if="${#fields.hasErrors('shippingAddress.city')}" class="help-block"
                                  th:errors="*{shippingAddress.city}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="SstateProv">State/Province:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('shippingAddress.stateProv')}?'has-error':''">
                            <input type="text" class="form-control" id="SstateProv" placeholder="Enter state/province"
                                   th:field="*{shippingAddress.stateProv}"></input>
                            <span th:if="${#fields.hasErrors('shippingAddress.stateProv')}" class="help-block"
                                  th:errors="*{shippingAddress.stateProv}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Scountry">Country:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('shippingAddress.country')}?'has-error':''">
                            <input type="text" class="form-control" id="Scountry" placeholder="Enter country"
                                   th:field="*{shippingAddress.country}"></input>
                            <span th:if="${#fields.hasErrors('shippingAddress.country')}" class="help-block"
                                  th:errors="*{shippingAddress.country}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="SzipPostal">Zip/Postal Code:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('shippingAddress.zipPostal')}?'has-error':''">
                            <input type="text" class="form-control" id="SzipPostal" placeholder="Enter zip/postal code"
                                   th:field="*{shippingAddress.zipPostal}"></input>
                            <span th:if="${#fields.hasErrors('shippingAddress.zipPostal')}" class="help-block"
                                  th:errors="*{shippingAddress.zipPostal}">...</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="SpoBox">PO Box:</label>
                        <div class="col-sm-6"
                             th:classappend="${#fields.hasErrors('shippingAddress.poBox')}?'has-error':''">
                            <input type="text" class="form-control" id="SpoBox" placeholder="Enter PO box number"
                                   th:field="*{shippingAddress.poBox}"></input>
                            <span th:if="${#fields.hasErrors('shippingAddress.poBox')}" class="help-block"
                                  th:errors="*{shippingAddress.poBox}">...</span>
                        </div>
                    </div>

                    <input type="hidden"
                           name="accountId"
                           th:if="${accountData.getAccountId() != null}"
                           th:field="*{accountId}">
                    </input>
                    <input type="hidden"
                           name="addressId"
                           th:if="${accountData.getBillingAddress()?.getAddressId() != null}"
                           th:field="*{billingAddress.addressId}">
                    </input>
                    <input type="hidden"
                           name="addressId"
                           th:if="${accountData.getShippingAddress()?.getAddressId() != null}"
                           th:field="*{shippingAddress.addressId}">
                    </input>
                    <input type="hidden"
                           name="primaryEmailId"
                           th:if="${accountData.getPrimaryEmail()?.getEmailId() != null}"
                           th:field="*{primaryEmail.emailId}">
                    </input>
                    <input type="hidden"
                           name="secondaryEmailId"
                           th:if="${accountData.getSecondaryEmail()?.getEmailId() != null}"
                           th:field="*{secondaryEmail.emailId}">
                    </input>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>
