<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<th:block layout:fragment="scripts">
    <script th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.12/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/js/accounts/accountsList.js}"></script>
</th:block>
<th:block layout:fragment="stylesheets">
    <link th:href="@{/webjars/datatables/1.10.12/css/jquery.dataTables.css}" rel="stylesheet"></link>
    <link th:href="@{/webjars/datatables/1.10.12/css/dataTables.bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/css/account/list.css}" rel="stylesheet"></link>
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="spacer">
            <div class="row">
                <div class="col-lg-12 metaBar">
                    <div class="pull-left">
                        <p th:text="${moduleName}" class="moduleName"></p>
                    </div>
                    <div class="pull-right">
                        <p th:text="${welcomeMessage}" class= "text-right welcomeMessage"></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class ="row">
                <div class="col-sm-12">
                    <a href="new/">
                        <button class="btn-primary pull-right btn-list">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id ="accountList" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Website</th>
                            <th>Owner</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="account : ${accountData}">
                            <td><a th:text="${account.getAccountName()}" th:href="@{|/acccount/records/${account.getAccountId()}|}"></a></td>
                            <td th:text="${account.getPhone()}"></td>
                            <td th:text="${account.getWebsite()}"></td>
                            <td th:text="${account.getOwner()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
