<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="stylesheets">
    <link th:href="@{/css/account/single.css}" rel="stylesheet"></link>
</th:block>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/crud.js}"></script>
    <script th:src="@{/js/accounts/edit.js}"></script>
</th:block>

<th:block layout:fragment="content">
    <div class="wrapper">
        <div class="container">
            <div class="spacer">
                <div th:replace="fragments/welcomemessage :: welcomeMessage">
                </div>
                <div class="row pull-right">
                    <a class="btn btn-primary"
                       role="button"
                       th:href="@{|/account/edit/${accountData.getAccountId()}|}">Edit
                    </a>
                    <button id="deleteRecord"
                            th:attr="data-id=${accountData.getAccountId()}"
                            class="btn btn-primary">Delete
                    </button>
                </div>
                <div class="single-space row"></div>
                <div class="row single-view">
                    <h3>Basic Information</h3>
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt class="col-md-2">Account Owner:</dt>
                            <dd class="col-md-2"
                                th:text="${accountData.getOwner() != null}?${accountData.getOwner().getName()}:${''}">
                            </dd>
                            <dt class="col-md-2">Account Name:</dt>
                            <dd class="col-md-2"
                                th:text="${accountData.getAccountName() != null}?${accountData.getAccountName()}:''">
                            </dd>
                            <dt class="col-md-2">Account Rating:</dt>
                            <dd class="col-md-2"
                                th:text="${accountData.getRating() != null}?${accountData.getRating()}:''">
                            </dd>
                            <dt class="col-md-2">Account Type:</dt>
                            <dd class="col-md-2"
                                th:text="${accountData.getType()?.getDescriptor() != null}?${accountData.getType().getDescriptor()}:''">
                            </dd>
                            <dt class="col-md-2">Parent:</dt>
                            <dd class="col-md-2"
                                th:text="${accountData.getParent() != null}?${accountData.getParent()}:''">
                            </dd>
                            <dt class="col-md-2">Ticker Symbol:</dt>
                            <dd class="col-md-2"
                                th:text="${accountData.getTickerSymbol() != null}?${accountData.getTickerSymbol()}:''">
                            </dd>
                            <dt class="col-md-2">Number of Employees:</dt>
                            <dd class="col-md-2"
                                th:text="${accountData.getNumberEmployees() != null}?${accountData.getNumberEmployees()}:''">
                            </dd>
                            <dt class="col-md-2">Website:</dt>
                            <dd class="col-md-2"
                                th:text="${accountData.getWebsite() != null}?${accountData.getWebsite()}:''">
                            </dd>
                            <dt class="col-md-2">Contacts:</dt>
                            <dd class="col-md-2">
                                <ul class="list-unstyled" th:each="contact,iterStat : ${accountData.contacts}">
                                    <li><a th:text="${contact.getFullName()}"
                                        th:href="@{|/contact/records/${contact.getContactId()}|}"></a></li>
                                    <!--<span th:if="${!iterStat.last}">, </span>-->
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row single-view">
                    <h3 class="section-headers">Phone Information</h3>
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt class="col-md-2">Primary Phone:</dt>
                            <dd class="col-md-2"
                                th:text="${accountData.getPhone() != null}?${accountData.getPhone()}:''">
                            </dd>
                            <dt class="col-md-2">Secondary Phone:</dt>
                            <dd class="col-md-2"
                                th:text="${accountData.getOtherPhone() != null}?${accountData.getOtherPhone()}:''">
                            </dd>
                            <dt class="col-md-2">Fax:</dt>
                            <dd class="col-md-2"
                                th:text="${accountData.getFax() != null}?${accountData.getFax()}:''">
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row single-view">
                    <h3 class="section-headers">Email Information</h3>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt class="col-md-2">Primary Email:</dt>
                            <dd>
                                <a th:if="${accountData.getPrimaryEmail()?.getEmail() != null}"
                                   th:text="${accountData.getPrimaryEmail().getEmail()}"
                                   th:href="'mailto:' + ${accountData.getPrimaryEmail().getEmail()}">
                                </a>
                            </dd>
                            <dt class="col-md-2">Secondary Email:</dt>
                            <dd>
                                <a th:if="${accountData.getSecondaryEmail()?.getEmail() != null}"
                                   th:text="${accountData.getSecondaryEmail().getEmail()}"
                                   th:href="'mailto:' + ${accountData.getSecondaryEmail().getEmail()}">
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row single-view">
                    <h3 class="section-headers">Billing Address Information</h3>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt class="col-md-1">Apartment Number:</dt>
                            <dd class="col-md-1"
                                th:text="${accountData.getBillingAddress()?.getApartmentNumber() != null}?
                                ${accountData.getBillingAddress()?.getApartmentNumber()}:''">
                            </dd>
                            <dt class="col-md-1">Street Address:</dt>
                            <dd class="col-md-1"
                                th:text="${accountData.getBillingAddress()?.getStreetAddress() != null}?
                                ${accountData.getBillingAddress()?.getStreetAddress()}:''">
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>City:</dt>
                            <dd th:text="${accountData.getBillingAddress()?.getCity() != null}?
                                ${accountData.getBillingAddress()?.getCity()}:''">
                            </dd>
                            <dt>State/Province:</dt>
                            <dd th:text="${accountData.getBillingAddress()?.getStateProv() != null}?
                                ${accountData.getBillingAddress()?.getStateProv()}:''">
                            </dd>
                            <dt>Country:</dt>
                            <dd th:text="${accountData.getBillingAddress()?.getCountry() != null}?
                                ${accountData.getBillingAddress()?.getCountry()}:''">
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>Zip/Postal Code:</dt>
                            <dd th:text="${accountData.getBillingAddress()?.getZipPostal() != null}?
                                ${accountData.getBillingAddress().getZipPostal()}:''">
                            </dd>
                            <dt>P.O. Box:</dt>
                            <dd th:text="${accountData.getBillingAddress()?.getPoBox() != null}?
                                ${accountData.getBillingAddress()?.getPoBox()}:''">
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row single-view">
                    <h3 class="section-headers">Shipping Address Information</h3>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt class="col-md-1">Apartment Number:</dt>
                            <dd class="col-md-1"
                                th:text="${accountData.getShippingAddress()?.getApartmentNumber() != null}?
                                ${accountData.getShippingAddress()?.getApartmentNumber()}:''">
                            </dd>
                            <dt class="col-md-1">Street Address:</dt>
                            <dd class="col-md-1"
                                th:text="${accountData.getShippingAddress()?.getStreetAddress() != null}?
                                ${accountData.getShippingAddress()?.getStreetAddress()}:''">
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>City:</dt>
                            <dd th:text="${accountData.getShippingAddress()?.getCity() != null}?
                                ${accountData.getShippingAddress()?.getCity()}:''">
                            </dd>
                            <dt>State/Province:</dt>
                            <dd th:text="${accountData.getShippingAddress()?.getStateProv() != null}?
                                ${accountData.getShippingAddress()?.getStateProv()}:''">
                            </dd>
                            <dt>Country:</dt>
                            <dd th:text="${accountData.getShippingAddress()?.getCountry() != null}?
                                ${accountData.getShippingAddress()?.getCountry()}:''">
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>Zip/Postal Code:</dt>
                            <dd th:text="${accountData.getShippingAddress()?.getZipPostal() != null}?
                                ${accountData.getShippingAddress().getZipPostal()}:''">
                            </dd>
                            <dt>P.O. Box:</dt>
                            <dd th:text="${accountData.getShippingAddress()?.getPoBox() != null}?
                                ${accountData.getShippingAddress()?.getPoBox()}:''">
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row spacer">
                    <div class="col-md-12">
                        <dl class="dl-horizontal col-md-6 audit-print audit-location pull-right">
                            <dt class="col-md-4">Created By:</dt>
                            <dd th:text="${accountData.getCreatedBy().getName()}"
                                class="col-md-6">
                            </dd>
                            <dt class="col-md-4">Created:</dt>
                            <dd th:text="${accountData.getCreated()}"
                                class="col-md-6">
                            </dd>
                            <dt th:if="${accountData.getLastModifiedBy() != null}"
                                class="col-md-4">Last Modified By:
                            </dt>
                            <dd th:if="${accountData.getLastModifiedBy() != null}"
                                th:text="${accountData.getLastModifiedBy().getName()}"
                                class="col-md-6">
                            </dd>
                            <dt th:if="${accountData.getLastModifiedBy() != null}"
                                class="col-md-4">Last Modified:
                            </dt>
                            <dd th:if="${accountData.getLastModifiedBy() != null}"
                                th:text="${accountData.getLastModified()}"
                                class="col-md-6">
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
