<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<th:block layout:fragment="stylesheets">
    <link th:href="@{/css/account/single.css}" rel="stylesheet"></link>
</th:block>
<th:block layout:fragment="content">
    <div class="wrapper">
        <div class="container">
            <div class="spacer">
                <div class="row">
                    <div class="col-lg-12 metaBar">
                        <div class="pull-left">
                            <a th:href="${toList}" th:text="${moduleName}" class="moduleName backLink"></a>
                        </div>
                        <div class="pull-right">
                            <p th:text="${welcomeMessage}" class="text-right welcomeMessage"></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="single-space row"></div>

                <table class="table no-border">
                    <tbody>
                    <tr>
                        <td><strong>Name:</strong></td>
                        <td th:text="${accountData.getAccountName()}"></td>
                    </tr>
                    <tr>
                        <td><strong>Owner:</strong></td>
                        <td th:text="${accountData.getOwner()}"></td>
                    </tr>
                    <tr>
                        <td><strong>Rating:</strong></td>
                        <td th:text="${accountData.getRating()}"></td>
                    </tr>
                    <tr>
                        <td><strong>Primary Phone:</strong></td>
                        <td th:text="${accountData.getPhone()}"></td>
                    </tr>
                    <tr>
                        <td><strong>Secondary Phone:</strong></td>
                        <td th:text="${accountData.getOtherPhone()}"></td>
                    </tr>
                    <tr>
                        <td><strong>Fax:</strong></td>
                        <td th:text="${accountData.getFax()}"></td>
                    </tr>
                    <tr>
                        <td><strong>Parent:</strong></td>
                        <td th:text="${accountData.getParent()}"></td>
                    </tr>
                    <tr>
                        <td><strong>Type:</strong></td>
                        <td th:text="${accountData.getType()}"></td>
                    </tr>
                    <tr>
                        <td><strong>Ticker Symbol:</strong></td>
                        <td th:text="${accountData.getTickerSymbol()}"></td>
                    </tr>
                    <tr>
                        <td><strong>Website:</strong></td>
                        <td th:text="${accountData.getWebsite()}"></td>
                    </tr>
                    <tr>
                        <td><strong>Number of Employees:</strong></td>
                        <td th:text="${accountData.getNumberEmployees()}"></td>
                    </tr>
                    <tr>
                        <td><strong>Billing Address:</strong></td>
                        <td th:with="billingAddress=${accountData.getBillingAddress()}">
                            <span th:if="${billingAddress.getPoBox() != null}" th:utext="${'PO Box: '+billingAddress.getPoBox()}+'&lt;br&gt;'"></span>
                            <span th:if="${billingAddress.getApartmentNumber() != null}" th:text="${billingAddress.getApartmentNumber()+' -'}"></span>
                            <span th:text="${billingAddress.getStreetAddress()}"></span><br/>
                            <span th:text="${billingAddress.getCity()+', '+billingAddress.getStateProv()+' '+billingAddress.getZipPostal()}"></span><br/>
                            <span th:text="${billingAddress.getCountry()}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Shipping Address:</strong></td>
                        <td th:with="shippingAddress=${accountData.getShippingAddress()}">
                            <span th:if="${shippingAddress.getPoBox() != null}" th:utext="${'PO: '+shippingAddress.getPoBox()+'&lt;br&gt;'}"></span>
                            <span th:if="${shippingAddress.getApartmentNumber() != null}" th:text="${shippingAddress.getApartmentNumber()+' -'}"></span>
                            <span th:text="${shippingAddress.getStreetAddress()}"></span><br/>
                            <span th:text="${shippingAddress.getCity()+', '+shippingAddress.getStateProv()+' '+shippingAddress.getZipPostal()}"></span><br/>
                            <span th:text="${shippingAddress.getCountry()}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</html>
