html, body {
  height: 100%;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
      float: left;
      width: 200px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
}

.dl-horizontal dd {
  margin-left: 0px;
}

.navLinks {
  font-size: 1.25em;
}

.spacer {
  padding-top: 60px;
}

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.footer {
  height: 60px;
  background-color: black;
}

.moduleName {
  font-size: 1.5em;
}

.welcomeMessage {
  font-size: 1.5em;
}

.single-view {
  font-size: 1.5em
}

.section-headers {
  padding-bottom: 10px;
}

.backLink {
  color: black;
}

.backLink:hover {
  color:black;
}

.btn-cursor {
  cursor: pointer;
}
